<ion-view view-title="Account">
  <ion-nav-buttons side="right">
    <button logged-in class="button" ng-click="logout()">
      <i class="icon ion-log-out"></i>
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <div class="list list-inset" logged-out>
      <label class="item item-input">
        <input type="text" ng-model="loginForm.username" placeholder="Email or Username">
      </label>
      <label class="item item-input">
        <input type="password" ng-model="loginForm.password" placeholder="Password">
      </label>

      <div class="button-bar">
        <button ng-click="login(loginForm)" class="button button-block button-positive">Sign In</button>
        <button class="button button-block button-calm">Sign Up</button>
      </div>
    </div>

    <breezio-user profile logged-in>
    </breezio-user>
  </ion-content>
</ion-view>
