<ion-content delegate-handle="chatScroll" on-scroll="onScroll()">
  <ion-refresher
    pulling-text="Load more..."
    on-refresh="loadMore()">
  </ion-refresher>
  <div class="padding">
    <p ng-repeat="line in messages" ng-bind-html="formatLine(line)"></p> 
  </div>
</ion-content>
<ion-footer-bar class="bar bar-light item-input-inset">
  <label class="item-input-wrapper">
    <input id="chatInput" type="text" placeholder="{{placeholder}}" value="{{text}}" ng-model="text">
  </label>
  <button class="button button-clear" ng-click="send()">Send</button>
</ion-footer-bar>
