<div ng-show="loaded">
  <div class="header item">
    <span class="user-image"><img ng-src="{{user.imagePath | static}}"></span>
    <div class="title">
      <h1>{{user.firstName}} {{user.lastName}}</h1>
      <h2>{{user.username}}</h2>
    </div>
  </div>

  <div ng-show="loggedIn && !profile" class="button-bar">
    <a class="button">Message</a>
    <a class="button">Follow</a>
  </div>

  <div ng-show="user.bio" class="item item-text-wrap">
    {{user.bio}}
  </div>

  <div ng-show="user.website" ng-click="openWebsite()" class="item">
    <i class="icon ion-ios-world-outline"></i> <span class="positive">{{user.website}}</span>
  </div>

  <div ng-show="user.title" class="item">
    <i class="icon ion-ios-briefcase-outline"></i> {{user.title}}
  </a>
</div>
