<ion-view>
  <ion-nav-title>
    <div class="nav-user">
      <img class="nav-image" ng-src="{{chat.other.imagePath | static}}">
      <div>
        <h1>{{chat.other.firstName}} {{chat.other.lastName}}</h1>
        <h2>{{chat.other.username}}</h2>
      </div>
    </div>
  </ion-nav-title>
  <breezio-messages type="chat">
</ion-view>
<div class="scroll-down" ng-show="chat.showScroll" ng-click="scrollDown()">
  <i class="icon ion-chevron-down"></i>
  <span class="badge badge-assertive">{{chat.newChats}}</span>
</div>
