<ion-modal-view class="experts">
  <div class="list alone">
    <div class="item" ng-repeat="expert in post.experts" ng-click="openChat(expert.user, post)">
      <img ng-src="{{expert.user.imagePath | static}}" class="medium">
      <span class="user-status medium">
        <i ng-if="isOnline(expert.userId)" class="status balanced icon ion-record"></i>
        <i ng-if="!isOnline(expert.userId)" class="status assertive icon ion-record"></i>
      </span>
      <div>
        <h2>{{expert.user.firstName}} {{expert.user.lastName}}</h2>
        <p>{{expert.user.username}}</p>
      </div>
    </div>
  </div>
</ion-modal-view>
