<ion-view view-title="{{portal}} @ breezio">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="refreshPosts()">
      <i class="icon ion-refresh"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="content">
    <ion-list>
      <ion-item class="post-item item-text-wrap" ng-click='openPost(post)' ng-repeat="post in posts">
        <img class="medium" ng-src="{{post.user.imagePath | static}}">
        <div>
          <h2 ng-class="{'alone': !post.subtitle}">{{post.title}}</h2>
          <p>{{post.subtitle}}</p>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%"
      ng-if="!exhausted">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>

<div ng-show="loading" class="spinner">
  <ion-spinner></ion-spinner>
</div>
