<ion-view>
  <ion-nav-title>
    <div class="nav-user" ng-click="openUser(post.user)">
      <img class="nav-image" ng-src="{{post.user.imagePath | static}}">
      <div>
        <h1>{{post.user.firstName}} {{post.user.lastName}}</h1>
        <h2>{{post.user.username}} <strong>&#183</strong> {{post.dateString}}</h2>
      </div>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="openUser(post.user)">
      <i class="icon ion-ios-chatboxes"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refreshPost()">
    </ion-refresher>

    <div ng-show="loaded" class="list">

      <!-- header -->
      <div class="flex-item item">
        <div class="content-title title">
          <h1 ng-class="{alone: !subtitleExists()}">{{post.title}}</h1>
          <h2 ng-show="subtitleExists()">{{post.subtitle}}</h2>
        </div>
      </div>

      <breezio-post></breezio-post>

    </div>
  </ion-content>
</ion-view>
