<ion-view>
  <ion-nav-title>
    <div class="nav-user" ng-click="openUser(post.user)">
      <img ng-show="loaded" class="nav-image" ng-src="{{post.user.imagePath | static}}">
      <div ng-show="loaded">
        <h1>{{post.user.firstName}} {{post.user.lastName}}</h1>
        <h2>{{post.user.username}} <strong>&#183</strong> {{post.dateString}}</h2>
      </div>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="toggleNotes()">
      <i class="icon ion-ios-chatboxes"></i>
    </button>
  </ion-nav-buttons>

  <ion-header-bar align-title="center" class="bar bar-subheader bar-assertive ng-hide">
    <h1 class="title">Select a blurb to comment</h1>
  </ion-header-bar>

  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refreshPost()">
    </ion-refresher>

    <div ng-show="loaded" class="list">

      <!-- header -->
      <div class="post-header item">
        <h1>{{post.title}}</h1>
        <h2 ng-show="subtitleExists()">{{post.subtitle}}</h2>
      </div>

      <breezio-post ng-click="openNotes($event)"></breezio-post>

    </div>
  </ion-content>
</ion-view>

<div ng-hide="loaded" class="spinner">
  <ion-spinner></ion-spinner>
</div>
