<ion-view>
  <ion-nav-title>
    <div class="nav-user" ng-click="openUser(post.user)">
      <img ng-show="loaded" class="small" ng-src="{{post.user.imagePath | static}}">
      <div ng-show="loaded">
        <h1>{{post.user.firstName}} {{post.user.lastName}}</h1>
        <h2>{{post.user.username}} <strong>&#183</strong> {{post.dateString}}</h2>
      </div>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button logged-in class="button" ng-show="(post.experts.length > 0)" ng-click="toggleExperts()">
      <i class="icon ion-person-stalker"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div ng-show="loaded" class="list">

      <!-- header -->
      <div class="post-header item" ng-click="openGeneralNotes()">
        <h2 ng-class="{'alone': !subtitleExists()}">{{post.title}}</h2>
        <p ng-show="subtitleExists()">{{post.subtitle}}</p>
      </div>

      <breezio-post></breezio-post>

    </div>
  </ion-content>
</ion-view>

<div ng-hide="loaded" class="spinner">
  <ion-spinner></ion-spinner>
</div>
