<ion-view view-title="Portals" hide-nav-bar="true">
  <ion-content scroll="false" class="portal-content hidden-nav-bar">
    <div class="portal-form">
      <div class="portal-logo"><img src="img/logo-black.png"></div>
      <div class="portal-input">
        <input ng-model="form.portal" type="text" value="portal"><p>.breezio.com</p>
      </div>

      <ion-spinner ng-if="form.spin"></ion-spinner>
      <button ng-if="!form.spin" class="middle button button-balanced" ng-click="connect()">
        Next
      </button>
    </div>
  </ion-content>
</ion-view>
