<ion-view view-title="Account">
  <ion-content scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email or Username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>

      <div class="button-bar">
        <button class="button button-block button-positive">Sign In</button>
        <button class="button button-block button-calm">Sign Up</button>
      </div>
    </div>
  </ion-content>
</ion-view>
