<ion-view view-title="Chats">
  <ion-content ng-show="loaded">
    <div class="list">
      <a class="item item-avatar" ng-repeat="chat in chats" ng-click="openChat(chat.hash)">
        <img ng-src="{{chat.imagePath | static}}">
        <span class="user-status" ng-repeat="user in chat.users">
          <i ng-if="isOnline(user)" class="status balanced icon ion-record"></i>
          <i ng-if="!isOnline(user)" class="status assertive icon ion-record"></i>
        </span>
        <h2>{{chat.title}}</h2>
        <p>{{chat.subtitle}}</p>
        <span class="badge badge-assertive">{{unread(chat.hash)}}</span>
      </a>
    </div>
  </ion-content>
</ion-view>
