<ion-view view-title="Chats">
  <ion-content ng-show="loaded">
    <div class="flex-item item" ng-repeat="chat in chats" ng-click="openChat(chat.hash)">
      <span ng-repeat="user in chat.users" class="user-image">
        <img ng-src="{{chat.imagePath | static}}">
        <i ng-if="isOnline(user)" class="status balanced icon ion-record"></i>
        <i ng-if="!isOnline(user)" class="status assertive icon ion-record"></i>
      </span>
      <div class="title">
        <h1>{{chat.title}}</h1>
        <h2>{{chat.subtitle}}</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
