<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Content Tab -->
  <ion-tab title="Content" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/content">
    <ion-nav-view name="tab-content"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" badge="newChats" badge-style="badge-assertive" href="#/tab/chats" hidden="{{!loggedIn}}">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Roster Tab -->
  <ion-tab title="Roster" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" badge="requests" badge-style="badge-assertive" href="#/tab/roster" hidden="{{!loggedIn}}">
    <ion-nav-view name="tab-roster"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
