<ion-modal-view ng-controller="CommentModalCtrl" class="comments-modal">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button-icon icon ion-ios7-close-empty button back-button" ng-click="currentPost.commentModal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="comments list">
      <ul class="padding">
        <li ng-repeat="note in currentPost.notes.items">
          <img ng-src="{{note.user.imagePath | staticurl}}" class="crop experts-crop">
          <p>{{note.content}}</p>
        </li>
      </ul>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-light item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="text" placeholder="Write a comment..." value="{{text}}" ng-model="text">
    </label>
    <button class="button button-clear" ng-click="postComment()">Post</button>
  </ion-footer-bar>
</ion-modal-view>
