<ion-modal-view ng-controller="CommentModalCtrl" class="comments-modal">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button button-clear" ng-click="currentPost.commentModal.hide()"><i class="icon ion-ios7-close-empty"></i> Close</button>
      <h2 class="title">{{currentPost.item.title}}</h2>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refreshComments()">
    </ion-refresher>
    <ion-list class="comments list">
      <ul class="padding">
        <li ng-repeat="note in notes">
          <img ng-click="showUser(note.user.id)" ng-src="{{note.user.imagePath | staticurl}}" class="crop experts-crop">
          <p ng-bind-html="note.content"></p>
        </li>
      </ul>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-light item-input-inset" ng-show="loggedIn">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="text" placeholder="Write a comment..." value="{{text}}" ng-model="text">
    </label>
    <button class="button button-clear" ng-click="postComment()">Post</button>
  </ion-footer-bar>
</ion-modal-view>
