<ion-modal-view ng-controller="PostFilterCtrl">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()"><i class="icon ion-ios7-close-empty"></i> Close</button>
      <h2 class="title">Filters</h2>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div ng-repeat="cat in categories">
      <div class="item item-divider">
        {{cat[1]}}
      </div>
      <ion-list>
        <ion-item ng-repeat="tag in data[cat[0]].items">{{tag.name}}</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-modal-view>
