<ion-view title="Posts">

    <ion-nav-buttons side="right">
      <a class="button button-assertive" ng-click="logout()" ng-show="currentUser">
      	Logout
      </a>
      <a class="button button-positive" ng-click="showLogin()" ng-hide="currentUser">
      	Login
      </a>
    </ion-nav-buttons>

    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" >
        </label>
        <button class="button button-clear" ng-click="search()">Search</button>
    </div>

    <ion-content class="has-header has-subheader">
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="refresh()">
		</ion-refresher>    
		<ion-list>
		  <ion-item ng-repeat="item in items" href="#/tab/posts/{{item.id}}">
		    {{item.title}}
		  </ion-item>
		</ion-list>
		<ion-infinite-scroll
			on-infinite="loadMore()"
  			icon="ion-loading-c"
			distance="2%">
		</ion-infinite-scroll>		
	</ion-content>
	
</ion-view>