<ion-view title="{{item.title}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="info row">

        <!-- left -->
        <div class="left item col col-67">
          <a href="#/tab/posts/user/{{item.user.id}}">
            <img class="circular" title="{{item.user.firstName}} {{item.user.lastName}}" src="{{item.user.imagePath | staticurl}}">
          </a>
          <div>
            <h2>{{item.user.firstName}} {{item.user.lastName}}</h2>
            <h2>{{item.creationDate | date}}</h2>
          </div>
        </div>

        <!-- right -->
        <a class="button button-outline button-light col col-33" href="#/tab/posts/{{postId}}/experts">
          <div class="experts right">
            <img ng-repeat="expert in experts.items" class="circular-small" title="{{expert.user.firstName}} {{expert.user.lastName}}" src="{{expert.user.imagePath | staticurl}}" >
          </div>
        </a>

      </div>

      <div class="content item" ng-bind-html="renderedHtml">
      </div>
    </div>
	</ion-content>
</ion-view>
