<ion-view title="{{item.title}}">
  <ion-content class="padding">
    <div class="card list">
      <div class="info row">

        <!-- left -->
        <div class="left item col col-67">
          <a href="#/tab/posts/user/{{item.user.id}}">
            <img class="circular" title="{{item.user.firstName}} {{item.user.lastName}}" src="{{item.user.imagePath | staticurl}}">
          </a>
          <div>
            <h2>{{item.user.firstName}} {{item.user.lastName}}</h2>
            <h2>{{item.creationDate | date}}</h2>
          </div>
        </div>

        <!-- right -->
        <a class="button button-stable col col-33" ng-click="openExperts()">
          <div class="experts right">
            <img ng-repeat="expert in experts.items" class="circular-small" title="{{expert.user.firstName}} {{expert.user.lastName}}" src="{{expert.user.imagePath | staticurl}}" >
          </div>
        </a>

      </div>

      <div class="content item" ng-bind-html="renderedHtml">
      </div>
    </div>
	</ion-content>
</ion-view>

<!-- experts modal -->
<script id="experts.html" type="text/ng-template">
  <ion-modal-view class="experts-modal">
    <ion-header-bar class="bar-positive nav-title-slide-ios7">
      <h1 class="title">Experts</h1>
    </ion-header-bar>
    <ion-content>
      <p>asdfasdfsdfsdf</p>
    </ion-content>
    <ion-footer-bar>
      <button class="button button-block button-royal" ng-click="closeExperts()">
        <h1 class="title">Close</h1>
      </button>
    </ion-footer-bar>
  </ion-modal-view>
</script>
