<ion-view title="{{user.username}}">
  <ion-content class="padding">
    <div class="card list">
      <div class="info item">
        <div class="left">
          <img class="circular" src="{{user.imagePath | staticurl}}">
          <div>
            <h2>{{user.firstName}} {{user.lastName}}</h2>
            <h2>Member since {{user.creationDate | date}}</h2>
            <h2><a ng-href={{user.website}}>{{user.website}}</a></h2>
          </div>
        </div>
      </div>
      <div class="content item">
        <p>{{user.bio}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
