<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Please authenticate</h1>
      <div class="button button-clear" ng-click="hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
	<ion-content>
		<form ng-submit="login()" >
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input placeholder="Username" ng-model="loginForm.username" type="text" />
			</label>			
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input placeholder="Password" ng-model="loginForm.password" type="password" />
			</label>			
		</div>
		<div class="padding">
			<p ng-show="loginForm.message">
				    {{loginForm.message}}
			</p>
			<input class="button button-block button-positive" type="submit" value="Login" />
      	</div>
		</form>
	</ion-content>
</ion-modal-view>