<ion-view title="">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="doSomething()">
      	Edit
      </button>
    </ion-nav-buttons>
    <ion-content class="padding">
    	<h1>{{item.title}}
	    {{item.subtitle}}
	    <style> 
	    	.picker {
	    		margin: 30px 0;
	    		padding: 20px;
	    	}

	    	.knob-image {
	    		width: 48px;
	    		height: 48px;
	    		overflow: hidden;
	    		border-radius: 64px;
	    		border: 2px solid #e1e1e1;
	    		padding: 1px;
	    		background: #fff;

	    	}

	    	.knob-image img {
	    		width: 100%;
	    	}

		</style>

	    <div class="picker">
	    	<div class="knob knob-image">
	    		<img src="{{config.baseUrl + currentUser.imagePath}}" alt="{{curentUser.username}}" />
	    	</div>

	    </div>
	</ion-content>
</ion-view>