.keyboard-open .tabs{
  display:none !important;
 }

.keyboard-open .has-tabs{
 bottom:0 !important;
}

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	float:left;
	clear:both;
	max-width:65%;
	margin:0 0 1rem 0;
	padding:0;
}

.messages li:nth-child(even) {
	float:right;
}

.messages li:nth-child(even) img {
	float:right;
}

.messages p {
	border-radius:.75rem;
	background:#e6e5eb;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.875rem;
}

.messages li:nth-child(even) p {
	background:#158ffe;
	color:#fff;
}

.messages img {
	display:block;
	max-width:65%;
	border-radius:.75rem;
}

.content p {
  text-overflow: clip;
  white-space: normal;
  margin-bottom: 15px;
}

.content ul {
  list-style: disc;
  margin: 5px 20px;
  font-size: 14px;
}

.content pre {
  font-size: 11px;
  margin: 20px;
  padding: 0;
}

.circular {
  width: 66px;
  height: 66px;
  border-radius: 33px;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
}

.circular-small {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}

.info {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.left img {
  float: left;
}

.left div {
  float: right;
  margin-left: 10px;
}

.right {
  float: right;
}

.experts a {
  margin: 0px;
  height: 66px;
  margin-left: 5px;
  padding: 0px;
}
