i {
  margin: 0px 5px;
}

.button i.icon {
  margin: 0px;
}

.item .badge {
  top: 26px !important;
}

.bar-header {
  height: 60px !important;
}

.has-header {
  top: 60px !important;
}

.bar .header-item.title {
  height: 60px !important;
  line-height: 60px !important;
}

.bar-subheader {
  top: 60px !important;
  height: 44px !important;
}

.has-subheader {
  top: 104px !important;
}

ion-content {
  top: 60px !important;
}

.button.back-button.header-item {
  height: 100%;
  max-height: none;
}

.header-badge {
  float: left;
  margin-right: 5px;
}

.user-status i.status {
  position: absolute;
  top: 40px;
  left: 40px;
}

.post p, .post h3, .post h2, .post h1 {
  margin-bottom: 20px;
}

.post hr {
  margin: 20px 0px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #EEE;
}

.blurb.note-mode{
  background-color: #ECECEC;
}

.timestamp {
  text-align: center;
  color: grey;
}

.nav-user {
  position: absolute;
  display: flex;
  align-items: center;
  height: 60px;;
}

.nav-user div {
  margin-left: 5px;
}

.nav-user h1 {
  font-size: 14px;
  margin: 0px;
  margin: 0px;
}

.nav-user h2 {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.nav-user img {
  max-width: 30px;
  max-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

i.fake-back {
  margin: 0px;
  margin-right: 15px;
}

div.spinner {
  margin: auto;
  position: fixed;
  z-index: 1100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 28px;
}
