i {
  margin: 0px 5px;
}

.button i.icon {
  margin: 0px;
}

.item .badge {
  top: 26px !important;
}

.item h2 {
  margin-bottom: 5px;
}

.item h2.alone {
  margin: 0px;
}

.list:not(.list-inset) > .item:first-child {
  border-top-width: 0px;
}

.list.alone > .item:first-child {
  border-top-width: 1px;
}

.bar-header {
  height: 60px !important;
}

.has-header {
  top: 60px !important;
}

.bar .header-item.title {
  height: 60px !important;
  line-height: 60px !important;
}

.bar-subheader {
  top: 60px !important;
  height: 44px !important;
}

.has-subheader {
  top: 104px !important;
}

ion-footer-bar.has-tabs.hidden-tabs {
  bottom: 0px;
}

ion-content.has-tabs.has-footer.hidden-tabs {
  bottom: 44px;
}

ion-content {
  top: 60px !important;
}

.button.back-button.header-item {
  height: 100%;
  max-height: none;
}

.header-badge {
  float: left;
  margin-right: 5px;
}

.user-status i.status {
  position: absolute;
  top: 40px;
  left: 40px;
}

.user-status.medium i.status {
  position: absolute;
  top: 50px;
  left: 50px;
}

.post {
  padding: 0px;
}

.post .blurb:first-child {
  padding-top: 16px;
}

.post p {
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
}

.post-header p, .post-header h2 {
  overflow: visible;
  white-space: normal;
  text-overflow: inherit;
}

.post-header h2 {
  font-size: 22px;
}

.post h2 {
  font-size: 20px;
}

.post h3, .post h2, .post h1 {
  padding-bottom: 0px;
  padding-top: 10px;
  margin: 0px;
}

.post hr {
  margin: 20px 0px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #EEE;
}

.post span {
  display: none;
}

.blurb {
  padding: 0px 16px;
}

.blurb.note-mode:active {
  background-color: #ECECEC;
}

.timestamp {
  text-align: center;
  color: grey;
}

.nav-user {
  position: absolute;
  display: flex;
  align-items: center;
  height: 60px;
}

.nav-user img {
  margin-right: 5px;
}

.nav-user h1 {
  font-size: 14px;
  margin: 0px;
  margin: 0px;
}

.nav-user h2 {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

img.small {
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

img.medium {
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

i.fake-back {
  margin: 0px;
  margin-right: 15px;
}

div.spinner {
  margin: auto;
  position: fixed;
  z-index: 1100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 28px;
}

.post-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-item img {
  margin-right: 16px;
}

.modal.experts {
  bottom: 0px;
  top: initial;
  min-height: initial;
}

.experts .item {
  display: flex;
  align-items: center;
}

.experts .item img {
  margin-right: 16px;
}
