i {
  margin: 0px 5px;
}

.button {
  line-height: 50px;
}

.header {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.header.expanded .title * {
  white-space: normal;
}

.header h1 {
  font-size: 20px;
  line-height: 25px;
  margin: 0px;
}

.header h2 {
  line-height: 25px;
  margin: 0px;
}

.user-image {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  min-width: 50px;
  overflow: hidden;
  float: right;
}

.user-image img {
  width: 100%;
}

.header .title {
  margin-left: 20px;
  line-height: 50px;
  max-width: 65%;
}

.header .title h1.alone {
  line-height: 50px;
}

.header.expanded .title h1.alone {
  line-height: 25px;
}

.header .down {
  margin-left: auto;
  line-height: 50px;
  font-size: 25px;;
}

.post p, .post h3, .post h2, .post h1 {
  margin-bottom: 20px;
}

.post hr {
  margin: 20px 0px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #EEE;
}
