<ion-modal-view ng-controller="UserFilterCtrl">
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()"><i class="icon ion-ios7-close-empty"></i> Close</button>
      <h2 class="title">Filters</h2>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="item card filter-list">
      <a class="filter button button-assertive" ng-repeat="tag in list" ng-click="removeFilter(tag)">{{tag.name}}</a>
      <div ng-show="list.length < 1">Click on a filter to add it.</div>
    </div>

    <div class="scroll-wrapper">
      <ion-scroll style="height: inherit">
        <div ng-repeat="cat in categories" class="padding">
          <div class="item item-divider">
            {{cat[1]}}
          </div>
          <ion-list>
            <ion-item ng-repeat="tag in data[cat[0]].items" ng-click="addFilter(tag)">{{tag.name}}</ion-item>
          </ion-list>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-modal-view>
