<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button button-clear" ng-click="modal.hide()"><i class="icon ion-ios7-close-empty"></i> Close</button>
      <h2 class="title">Filters</h2>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="item item-divider">
      Order
    </div>
    <div class="item item-divider">
      Tags
    </div>
    <div class="item item-divider">
      Author
    </div>
  </ion-content>
</ion-modal-view>
